/* Nav Bar styles */
.bg-green-100 {
    background-color: #f0fdf4; 
}

.btn.bg-green-600 {
    background-color: rgba(0, 166, 62, 1); 
}

.btn.bg-green-600:hover {
    background-color: #059669; 
}

.btn.border {
    border-radius: 50px;
}
/* Hero Section styles */
.hero-gradient {
    background: linear-gradient(to bottom, #013223 0%, #006747 50%, #013223 100%);
}